In [2]:
import pandas as pd
import json
import os

In [1]:
import torch
print(torch.backends.mps.is_available()) # MPS 장치가 사용 가능한지 확인합니다. True여야 합니다.

True

In [14]:
directory_path =os.getcwd()

In [15]:
files = os.listdir(directory_path)

In [16]:
files

['dataset.html',
 'json_to_csv_converter.py',
 'data_hadling.ipynb',
 'yelp_academic_dataset_checkin.json',
 'Dataset_User_Agreement.pdf',
 'yelp_academic_dataset_tip.json',
 'yelp_academic_dataset_review.json',
 'yelp_academic_dataset_business.json',
 'yelp_academic_dataset_user.json']

In [17]:
data_dict ={}

In [18]:
for file in files:
    if file.endswith('.json'):        
        # Construct the full file path
        file_path = os.path.join(directory_path, file)
        
        # Read the JSON file
        with open(file_path, 'r', encoding='utf-8') as f:
            data = [json.loads(line) for line in f]
        
        # Convert the list of dictionaries to a DataFrame
        data_dict[file] = pd.DataFrame(data)

In [19]:
data_dict

{'yelp_academic_dataset_checkin.json':                    business_id  \
 0       ---kPU91CF4Lq2-WlRu9Lw
 1       --0iUa4sNDFiZFrAdIWhZQ
 2       --30_8IhuyMHbSOcNWd6DQ
 3       --7PUidqRWpRSpXebiyxTg
 4       --7jw19RH9JKXgFohspgQw
 ...                        ...
 131925  zznJox6-nmXlGYNWgTDwQQ
 131926  zznZqH9CiAznbkV6fXyHWA
 131927  zzu6_r3DxBJuXcjnOYVdTw
 131928  zzw66H6hVjXQEt0Js3Mo4A
 131929  zzyx5x0Z7xXWWvWnZFuxlQ

                                                      date
 0       2020-03-13 21:10:56, 2020-06-02 22:18:06, 2020...
 1       2010-09-13 21:43:09, 2011-05-04 23:08:15, 2011...
 2                2013-06-14 23:29:17, 2014-08-13 23:20:22
 3       2011-02-15 17:12:00, 2011-07-28 02:46:10, 2012...
 4       2014-04-21 20:42:11, 2014-04-28 21:04:46, 2014...
 ...                                                   ...
 131925  2013-03-23 16:22:47, 2013-04-07 02:03:12, 2013...
 131926                                2021-06-12 01:16:12
 131927  2011-05-24 01:35:13, 2012-01-01 23:44:33, 2012...
 131928           2016-12-03 23:33:26, 2018-12-02 19:08:45
 131929                                2015-01-06 17:51:53

 [131930 rows x 2 columns],
 'yelp_academic_dataset_tip.json':                        user_id             business_id  \
 0       AGNUgVwnZUey3gcPCJ76iw  3uLgwr0qeCNMjKenHJwPGQ
 1       NBN4MgHP9D3cw--SnauTkA  QoezRbYQncpRqyrLH6Iqjg
 2       -copOvldyKh1qr-vzkDEvw  MYoRNLb5chwjQe3c_k37Gg
 3       FjMQVZjSqY8syIO-53KFKw  hV-bABTK-glh5wj31ps_Jw
 4       ld0AperBXk1h6UbqmM80zw  _uN0OudeJ3Zl_tf6nxg5ww
 ...                        ...                     ...
 908910  eYodOTF8pkqKPzHkcxZs-Q  3lHTewuKFt5IImbXJoFeDQ
 908911  1uxtQAuJ2T5Xwa_wp7kUnA  OaGf0Dp56ARhQwIDT90w_g
 908912  v48Spe6WEpqehsF2xQADpg  hYnMeAO77RGyTtIzUSKYzQ
 908913  ckqKGM2hl7I9Chp5IpAhkw  s2eyoTuJrcP7I_XyjdhUHQ
 908914  4tF1CWdMxvvwpUIgGsDygA  _cb1Vg1NIWry8UA0jyuXnQ

                                                      text  \
 0                          Avengers time with the ladies.
 1       They have lots of good deserts and tasty cuban...
 2                  It's open even when you think it isn't
 3                               Very decent fried chicken
 4                  Appetizers.. platter special for lunch
 ...                                                   ...
 908910              Disappointed in one of your managers.
 908911                            Great food and service.
 908912                                Love their Cubans!!
 908913                            Great pizza great price
 908914                  Food is good value but a bit hot!

                        date  compliment_count
 0       2012-05-18 02:17:21                 0
 1       2013-02-05 18:35:10                 0
 2       2013-08-18 00:56:08                 0
 3       2017-06-27 23:05:38                 0
 4       2012-10-06 19:43:09                 0
 ...                     ...               ...
 908910  2021-09-11 19:18:57                 0
 908911  2021-10-30 11:54:36                 0
 908912  2021-11-05 13:18:56                 0
 908913  2021-11-20 16:11:44                 0
 908914  2021-12-07 22:30:00                 0

 [908915 rows x 5 columns],
 'yelp_academic_dataset_review.json':                       review_id                 user_id  \
 0        KU_O5udG6zpxOg-VcAEodg  mh_-eMZ6K5RLWhZyISBhwA
 1        BiTunyQ73aT9WBnpR9DZGw  OyoGAe7OKpv6SyGZT5g77Q
 2        saUsX_uimxRlCVr67Z4Jig  8g_iMtfSiwikVnbP2etR0A
 3        AqPFMleE6RsU23_auESxiA  _7bHUi9Uuf5__HHc_Q8guQ
 4        Sx8TMOWLNuJBWer-0pcmoA  bcjbaE6dDog4jkNY91ncLQ
 ...                         ...                     ...
 6990275  H0RIamZu0B0Ei0P4aeh3sQ  qskILQ3k0I_qcCMI-k6_QQ
 6990276  shTPgbgdwTHSuU67mGCmZQ  Zo0th2m8Ez4gLSbHftiQvg
 6990277  YNfNhgZlaaCO5Q_YJR4rEw  mm6E4FbCMwJmb7kPDZ5v2Q
 6990278  i-I4ZOhoX70Nw5H0FwrQUA  YwAMC-jvZ1fvEUum6QkEkw
 6990279  RwcKOdEuLRHNJe4M9-qpqg  6JehEvdoCvZPJ_XIxnzIIw

                     business_id  stars  useful  funny  cool  \
 0        XQfwVwDr-v0ZS3_CbbE5Xw    3.0       0      0     0
 1        7ATYjTIgM3jUlt4UM3IypQ    5.0       1      0     1
 2        YjUWPpI6HXG530lwP-fb2A    3.0       0      0     0
 3        kxX2SOes4o-D3ZQBkiMRfA    5.0       1      0     1
 4        e4Vwtrqf-wpJfwesgvdgxQ    4.0       1      0     1
 ...                         ...    ...     ...    ...   ...
 6990275  jals67o91gcrD4DC81Vk6w    5.0       1      2     1
 6990276  2vLksaMmSEcGbjI5gywpZA    5.0       2      1     2
 6990277  R1khUUxidqfaJmcpmGd4aw    4.0       1      0     0
 6990278  Rr9kKArrMhSLVE9a53q-aA    5.0       1      0     0
 6990279  VAeEXLbEcI9Emt9KGYq9aA    3.0      10      3     7

                                                       text  \
 0        If you decide to eat here, just be aware it is...
 1        I've taken a lot of spin classes over the year...
 2        Family diner. Had the buffet. Eclectic assortm...
 3        Wow!  Yummy, different,  delicious.   Our favo...
 4        Cute interior and owner (?) gave us tour of up...
 ...                                                    ...
 6990275  Latest addition to services from ICCU is Apple...
 6990276  This spot offers a great, affordable east week...
 6990277  This Home Depot won me over when I needed to g...
 6990278  For when I'm feeling like ignoring my calorie-...
 6990279  Located in the 'Walking District' in Nashville...

                         date
 0        2018-07-07 22:09:11
 1        2012-01-03 15:28:18
 2        2014-02-05 20:30:30
 3        2015-01-04 00:01:03
 4        2017-01-14 20:54:15
 ...                      ...
 6990275  2014-12-17 21:45:20
 6990276  2021-03-31 16:55:10
 6990277  2019-12-30 03:56:30
 6990278  2022-01-19 18:59:27
 6990279  2018-01-02 22:50:47

 [6990280 rows x 9 columns],
 'yelp_academic_dataset_business.json':                    business_id                      name  \
 0       Pns2l4eNsfO8kk83dixA6A  Abby Rappoport, LAC, CMQ
 1       mpf3x-BjTdTEA3yCZrAYPw             The UPS Store
 2       tUFrWirKiKi_TAnsVWINQQ                    Target
 3       MTSW4McQd7CbVtyjqoe9mw        St Honore Pastries
 4       mWMc6_wTdE0EUBKIGXDVfA  Perkiomen Valley Brewery
 ...                        ...                       ...
 150341  IUQopTMmYQG-qRtBk-8QnA              Binh's Nails
 150342  c8GjPIOTGVmIemT7j5_SyQ      Wild Birds Unlimited
 150343  _QAMST-NrQobXduilWEqSw         Claire's Boutique
 150344  mtGm22y5c2UHNXDFAjaPNw  Cyclery & Fitness Center
 150345  jV_XOycEzSlTx-65W906pg                   Sic Ink

                                 address           city state postal_code  \
 0                1616 Chapala St, Ste 2  Santa Barbara    CA       93101
 1       87 Grasso Plaza Shopping Center         Affton    MO       63123
 2                  5255 E Broadway Blvd         Tucson    AZ       85711
 3                           935 Race St   Philadelphia    PA       19107
 4                         101 Walnut St     Green Lane    PA       18054
 ...                                 ...            ...   ...         ...
 150341                3388 Gateway Blvd       Edmonton    AB     T6J 5H2
 150342               2813 Bransford Ave      Nashville    TN       37204
 150343           6020 E 82nd St, Ste 46   Indianapolis    IN       46250
 150344                     2472 Troy Rd   Edwardsville    IL       62025
 150345            238 Apollo Beach Blvd   Apollo beach    FL       33572

          latitude   longitude  stars  review_count  is_open  \
 0       34.426679 -119.711197    5.0             7        0
 1       38.551126  -90.335695    3.0            15        1
 2       32.223236 -110.880452    3.5            22        0
 3       39.955505  -75.155564    4.0            80        1
 4       40.338183  -75.471659    4.5            13        1
 ...           ...         ...    ...           ...      ...
 150341  53.468419 -113.492054    3.0            13        1
 150342  36.115118  -86.766925    4.0             5        1
 150343  39.908707  -86.065088    3.5             8        1
 150344  38.782351  -89.950558    4.0            24        1
 150345  27.771002  -82.394910    4.5             9        1

                                                attributes  \
 0                           {'ByAppointmentOnly': 'True'}
 1                  {'BusinessAcceptsCreditCards': 'True'}
 2       {'BikeParking': 'True', 'BusinessAcceptsCredit...
 3       {'RestaurantsDelivery': 'False', 'OutdoorSeati...
 4       {'BusinessAcceptsCreditCards': 'True', 'Wheelc...
 ...                                                   ...
 150341  {'ByAppointmentOnly': 'False', 'RestaurantsPri...
 150342  {'BusinessAcceptsCreditCards': 'True', 'Restau...
 150343  {'RestaurantsPriceRange2': '1', 'BusinessAccep...
 150344  {'BusinessParking': '{'garage': False, 'street...
 150345  {'WheelchairAccessible': 'True', 'BusinessAcce...

                                                categories  \
 0       Doctors, Traditional Chinese Medicine, Naturop...
 1       Shipping Centers, Local Services, Notaries, Ma...
 2       Department Stores, Shopping, Fashion, Home & G...
 3       Restaurants, Food, Bubble Tea, Coffee & Tea, B...
 4                               Brewpubs, Breweries, Food
 ...                                                   ...
 150341                         Nail Salons, Beauty & Spas
 150342  Pets, Nurseries & Gardening, Pet Stores, Hobby...
 150343  Shopping, Jewelry, Piercing, Toy Stores, Beaut...
 150344  Fitness/Exercise Equipment, Eyewear & Optician...
 150345  Beauty & Spas, Permanent Makeup, Piercing, Tattoo

                                                     hours
 0                                                    None
 1       {'Monday': '0:0-0:0', 'Tuesday': '8:0-18:30', ...
 2       {'Monday': '8:0-22:0', 'Tuesday': '8:0-22:0', ...
 3       {'Monday': '7:0-20:0', 'Tuesday': '7:0-20:0', ...
 4       {'Wednesday': '14:0-22:0', 'Thursday': '16:0-2...
 ...                                                   ...
 150341  {'Monday': '10:0-19:30', 'Tuesday': '10:0-19:3...
 150342  {'Monday': '9:30-17:30', 'Tuesday': '9:30-17:3...
 150343                                               None
 150344  {'Monday': '9:0-20:0', 'Tuesday': '9:0-20:0', ...
 150345  {'Tuesday': '12:0-19:0', 'Wednesday': '12:0-19...

 [150346 rows x 14 columns],
 'yelp_academic_dataset_user.json':                         user_id     name  review_count        yelping_since  \
 0        qVc8ODYU5SZjKXVBgXdI7w   Walker           585  2007-01-25 16:47:26
 1        j14WgRoU_-2ZE1aw1dXrJg   Daniel          4333  2009-01-25 04:35:42
 2        2WnXYQFK0hXEoTxPtV2zvg    Steph           665  2008-07-25 10:41:00
 3        SZDeASXq7o05mMNLshsdIA     Gwen           224  2005-11-29 04:38:33
 4        hA5lMy-EnncsH4JoR-hFGQ    Karen            79  2007-01-05 19:40:59
 ...                         ...      ...           ...                  ...
 1987892  fB3jbHi3m0L2KgGOxBv6uw  Jerrold            23  2015-01-06 00:31:31
 1987893  68czcr4BxJyMQ9cJBm6C7Q     Jane             1  2016-06-14 07:20:52
 1987894  1x3KMskYxOuJCjRz70xOqQ  Shomari             4  2017-02-04 15:31:58
 1987895  ulfGl4tdbrH05xKzh5lnog  Susanne             2  2011-01-14 00:29:08
 1987896  wL5jPrLRVCK_Pmo4lM1zpA      Isa             2  2020-12-19 02:32:39

          useful  funny   cool  \
 0          7217   1259   5994
 1         43091  13066  27281
 2          2086   1010   1003
 3           512    330    299
 4            29     15      7
 ...         ...    ...    ...
 1987892       7      0      0
 1987893       0      0      0
 1987894       1      1      0
 1987895       0      0      0
 1987896       0      0      0

                                                      elite  \
 0                                                     2007
 1        2009,2010,2011,2012,2013,2014,2015,2016,2017,2...
 2                                 2009,2010,2011,2012,2013
 3                                           2009,2010,2011
 4
 ...                                                    ...
 1987892
 1987893
 1987894
 1987895
 1987896

                                                    friends  fans  ...  \
 0        NSCy54eWehBJyZdG2iE84w, pe42u7DcCH2QmI81NX-8qA...   267  ...
 1        ueRPE0CX75ePGMqOFVj6IQ, 52oH4DrRvzzl8wh5UXyU0A...  3138  ...
 2        LuO3Bn4f3rlhyHIaNfTlnA, j9B4XdHUhDfTKVecyWQgyA...    52  ...
 3        enx1vVPnfdNUdPho6PH_wg, 4wOcvMLtU6a9Lslggq74Vg...    28  ...
 4        PBK4q9KEEBHhFvSXCUirIw, 3FWPpM7KU1gXeOM_ZbYMbA...     1  ...
 ...                                                    ...   ...  ...
 1987892                                               None     0  ...
 1987893                                               None     0  ...
 1987894                                               None     0  ...
 1987895                                               None     0  ...
 1987896                                               None     0  ...

          compliment_more  compliment_profile  compliment_cute  \
 0                     65                  55               56
 1                    264                 184              157
 2                     13                  10               17
 3                      4                   1                6
 4                      1                   0                0
 ...                  ...                 ...              ...
 1987892                0                   0                0
 1987893                0                   0                0
 1987894                0                   0                0
 1987895                0                   0                0
 1987896                0                   0                0

          compliment_list  compliment_note  compliment_plain  compliment_cool  \
 0                     18              232               844              467
 1                    251             1847              7054             3131
 2                      3               66                96              119
 3                      2               12                16               26
 4                      0                1                 1                0
 ...                  ...              ...               ...              ...
 1987892                0                0                 0                0
 1987893                0                0                 0                0
 1987894                0                0                 0                0
 1987895                0                0                 0                0
 1987896                0                0                 0                0

          compliment_funny  compliment_writer  compliment_photos
 0                     467                239                180
 1                    3131               1521               1946
 2                     119                 35                 18
 3                      26                 10                  9
 4                       0                  0                  0
 ...                   ...                ...                ...
 1987892                 0                  0                  0
 1987893                 0                  0                  0
 1987894                 0                  0                  0
 1987895                 0                  0                  0
 1987896                 0                  0                  0

 [1987897 rows x 22 columns]}

In [10]:
files = 'yelp_academic_dataset_business.json'

In [20]:
business = data_dict["yelp_academic_dataset_business.json"]
checkin = data_dict["yelp_academic_dataset_checkin.json"]
review = data_dict["yelp_academic_dataset_review.json"]
tip = data_dict["yelp_academic_dataset_tip.json"]
user = data_dict["yelp_academic_dataset_user.json"]

In [48]:
sub_business = business[business['city']=='Brandon']

In [51]:
tip[tip['business_id']=='SRexiuEsx1d9-dZVUsssQA']

Empty DataFrame
Columns: [user_id, business_id, text, date, compliment_count]
Index: []

In [49]:
sub_business

,business_id,name,address,city,state,postal_code,latitude,longitude,stars,review_count,is_open,attributes,categories,hours
250,my0bmPD5dgDFE1ia__LNlw,Nails & Beauty Lounge,953 E Brandon Blvd,Brandon,FL,33511,27.937166,-82.269959,3.5,84,1,"{'ByAppointmentOnly': 'False', 'BusinessAccept...","Beauty & Spas, Waxing, Nail Salons, Hair Removal","{'Monday': '9:30-19:0', 'Wednesday': '9:30-19:..."
339,SRexiuEsx1d9-dZVUsssQA,Brandon Burgers,1513 W Brandon Blvd,Brandon,FL,33511,27.937370,-82.307700,3.5,24,1,"{'RestaurantsDelivery': 'True', 'HasTV': 'True...","Salad, Hot Dogs, Burgers, Restaurants, America...","{'Monday': '10:30-22:0', 'Tuesday': '10:30-22:..."
344,mHDBZmEH0Er3184YS83_LQ,Splash Car Wash & Lube,802 W Bloomingdale Ave,Brandon,FL,33511,27.893920,-82.294372,2.5,50,1,"{'BusinessAcceptsCreditCards': 'True', 'WiFi':...","Tires, Automotive, Auto Repair, Oil Change Sta...","{'Monday': '8:0-16:0', 'Tuesday': '8:0-18:0', ..."
357,8YJtf5v76SIz-4udyF4YmA,The Hideout Coffee House,218 Oakfield Dr,Brandon,FL,33511,27.934468,-82.287802,4.5,22,0,"{'OutdoorSeating': 'True', 'RestaurantsPriceRa...","Food, Coffee & Tea","{'Monday': '6:30-19:0', 'Tuesday': '6:30-19:0'..."
383,iBRXLFWD7PeSYDbKsd_JTw,Mai Thai Restaurant,875 E Bloomingdale Ave,Brandon,FL,33511,27.891574,-82.272510,4.5,27,0,"{'RestaurantsGoodForGroups': 'True', 'Restaura...","Food, Ethnic Food, Specialty Food, Restaurants...","{'Monday': '11:0-21:0', 'Tuesday': '11:0-21:0'..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
149801,q0Q-ohZp8iV9OY-gkNPPwg,Allegria Italiana,518 Oakfield Dr,Brandon,FL,33511,27.934039,-82.291602,4.0,232,1,"{'RestaurantsTakeOut': 'True', 'HasTV': 'False...","Restaurants, Italian","{'Tuesday': '15:0-20:0', 'Wednesday': '15:0-20..."
149953,LfQtJyxvtK08d2uiA0-R0Q,Osaka Ramen & Sushi,133 E Bloomingdale Ave,Brandon,FL,33511,27.892791,-82.284475,4.0,16,0,"{'RestaurantsReservations': 'True', 'Ambience'...","Ramen, Sushi Bars, Restaurants, Japanese","{'Monday': '11:0-22:0', 'Tuesday': '11:0-22:0'..."
150044,det-3WomRwAxUFLds20pXA,Essentials Massage,205 W Bloomingdale Ave,Brandon,FL,33511,27.893467,-82.290002,3.5,5,0,"{'BusinessParking': '{'garage': False, 'street...","Beauty & Spas, Massage","{'Monday': '9:0-21:0', 'Tuesday': '9:0-21:0', ..."
150133,TaWCKl6hVCwm2ksdRBIJSQ,Cicis,1991 W Lumsden Rd,Brandon,FL,33511,27.921504,-82.316480,2.5,28,1,"{'RestaurantsTakeOut': 'True', 'RestaurantsGoo...","Restaurants, Pizza, American (Traditional)","{'Monday': '11:0-22:0', 'Tuesday': '11:0-22:0'..."
150278,jYd7okFv6JMjIXMDjZNCDQ,Ace Golf,820 S Kings Ave,Brandon,FL,33511,27.926009,-82.295597,3.0,30,0,"{'GoodForKids': 'True', 'RestaurantsPriceRange...","Golf, Shopping, Golf Equipment Shops, Active L...","{'Monday': '8:0-22:0', 'Tuesday': '8:0-22:0', ..."

In [47]:
dat

city
Philadelphia        14569
Tucson               9250
Tampa                9050
Indianapolis         7540
Nashville            6971
New Orleans          6209
Reno                 5935
Edmonton             5054
Saint Louis          4827
Santa Barbara        3829
Boise                2937
Clearwater           2221
Saint Petersburg     1663
Metairie             1643
Sparks               1624
Wilmington           1446
Franklin             1414
St. Louis            1255
St. Petersburg       1185
Meridian             1043
Brandon              1033
Largo                1002
Name: count, dtype: int64

In [35]:
checkin.head()

              business_id                                               date
0  ---kPU91CF4Lq2-WlRu9Lw  2020-03-13 21:10:56, 2020-06-02 22:18:06, 2020...
1  --0iUa4sNDFiZFrAdIWhZQ  2010-09-13 21:43:09, 2011-05-04 23:08:15, 2011...
2  --30_8IhuyMHbSOcNWd6DQ           2013-06-14 23:29:17, 2014-08-13 23:20:22
3  --7PUidqRWpRSpXebiyxTg  2011-02-15 17:12:00, 2011-07-28 02:46:10, 2012...
4  --7jw19RH9JKXgFohspgQw  2014-04-21 20:42:11, 2014-04-28 21:04:46, 2014...

In [27]:
review.head()

,review_id,user_id,business_id,stars,useful,funny,cool,text,date
0,KU_O5udG6zpxOg-VcAEodg,mh_-eMZ6K5RLWhZyISBhwA,XQfwVwDr-v0ZS3_CbbE5Xw,3.0,0,0,0,"If you decide to eat here, just be aware it is...",2018-07-07 22:09:11
1,BiTunyQ73aT9WBnpR9DZGw,OyoGAe7OKpv6SyGZT5g77Q,7ATYjTIgM3jUlt4UM3IypQ,5.0,1,0,1,I've taken a lot of spin classes over the year...,2012-01-03 15:28:18
2,saUsX_uimxRlCVr67Z4Jig,8g_iMtfSiwikVnbP2etR0A,YjUWPpI6HXG530lwP-fb2A,3.0,0,0,0,Family diner. Had the buffet. Eclectic assortm...,2014-02-05 20:30:30
3,AqPFMleE6RsU23_auESxiA,_7bHUi9Uuf5__HHc_Q8guQ,kxX2SOes4o-D3ZQBkiMRfA,5.0,1,0,1,"Wow! Yummy, different, delicious. Our favo...",2015-01-04 00:01:03
4,Sx8TMOWLNuJBWer-0pcmoA,bcjbaE6dDog4jkNY91ncLQ,e4Vwtrqf-wpJfwesgvdgxQ,4.0,1,0,1,Cute interior and owner (?) gave us tour of up...,2017-01-14 20:54:15

In [55]:
review[review['business_id']=='8YJtf5v76SIz-4udyF4YmA']

,review_id,user_id,business_id,stars,useful,funny,cool,text,date
10339,CxgCjl0_cBOREMU3WQ1XMQ,NG3h5OGAUxDP2nGeGInnnA,8YJtf5v76SIz-4udyF4YmA,5.0,0,0,0,Thank god there is finally a decent coffee sho...,2017-05-26 16:34:27
18619,KIE7Kpt2Spck3sSogF2cVw,xG8Jf5nZSUYjf-kTbVgE8w,8YJtf5v76SIz-4udyF4YmA,5.0,0,0,0,This is exactly type of Saint-Petersburg (Russ...,2017-06-17 18:29:42
83379,4Xc3a_qpPvNJew-LKYKneA,KVbyDrL_fIuG0YS_uQlqvw,8YJtf5v76SIz-4udyF4YmA,5.0,3,0,0,Loved this little gem in Brandon! The barista/...,2017-04-09 18:05:57
90044,I41pVCoAYAnm3bzLnrOMJw,NTnVSjQG7U-84MEIGu7bfg,8YJtf5v76SIz-4udyF4YmA,5.0,0,0,0,New coffee shop across the street from Brandon...,2017-05-18 14:53:26
133950,vsaaJPl_jPJT9Bcx2xFMGg,e5WEN4JC0_p8mgLWwkmkIw,8YJtf5v76SIz-4udyF4YmA,5.0,0,0,0,Just stopped here for the first time. It's loc...,2017-08-03 13:23:02
161019,lRlgA-ers8ZNwYk2S2mDpg,-EkS5xpjIIRZN8Uy4ui4pg,8YJtf5v76SIz-4udyF4YmA,5.0,0,0,0,Very cozy and personable with a trendy feel! I...,2017-08-19 18:50:40
227689,Wh3m2OCAJGBOTHlE7HWL5g,6j4NN66UESCtdcNJulB4fw,8YJtf5v76SIz-4udyF4YmA,3.0,0,0,0,We came by after the Y for a quick coffee and ...,2017-07-28 15:14:56
231975,JWK_27RyaYn-SZ8Er55dDQ,64Wk7lHoENK8pe1zEtOOqQ,8YJtf5v76SIz-4udyF4YmA,4.0,2,0,1,I know this review is going to be short by Yel...,2017-05-05 15:02:48
251455,SrZ1nBCXRDhFJnpp1bozdA,8_VvQeWWiI2VgzNfpQ8RAA,8YJtf5v76SIz-4udyF4YmA,4.0,3,0,0,A small quiet little coffee spot in a plaza do...,2017-07-25 15:23:18
282538,kbgpR8tn-Pk7Zro3A_6Pkg,nAPU1-75Gqg71NGr_HosFA,8YJtf5v76SIz-4udyF4YmA,4.0,26,20,30,We have very few Mom & Pop coffee houses in ou...,2017-05-19 03:16:25
288265,pH5icqkQghB4-FS81F6RLg,w2hgu8IC0jvkAuGM9JdCrQ,8YJtf5v76SIz-4udyF4YmA,5.0,2,0,1,This little hidden gem across the street from ...,2017-05-21 18:53:17
289748,9XXFwv1QLNBEzhHUmrTBPg,sBn5m-GManXNZjsiM7lHnA,8YJtf5v76SIz-4udyF4YmA,5.0,2,0,3,This coffee shop is awesome! It's in the old s...,2017-04-15 15:45:38
305900,T347lNZK9tAJFISrqrefRA,FOanfm1MYCAuImX5NuAcBQ,8YJtf5v76SIz-4udyF4YmA,2.0,0,0,0,"I got a frozen coffee, same size as a grande o...",2017-08-04 18:41:11
319837,rOT4LFMK1WAz-WsYUkm1cg,LfgKRPF06BnxGq3VogkcAg,8YJtf5v76SIz-4udyF4YmA,5.0,0,0,0,Stopped in for an almond milk latte and chocol...,2017-05-12 01:11:46
351571,JVrfR1KYXrvrvtezlAaumQ,gtaJKNA6CUKul1CnUnzAUg,8YJtf5v76SIz-4udyF4YmA,5.0,3,0,0,"Best coffeshop in town, great service, great c...",2017-04-05 17:32:25
463898,GnzP7ljATVxZEwOupw8x1A,fbqb-z8c6e7d6SiyM2tHPg,8YJtf5v76SIz-4udyF4YmA,5.0,4,1,2,Quaint little laid back coffee shop with every...,2017-05-10 16:44:58
486435,j6afgjEDCvkFsehrrTo68g,DbiKWa5cWmNLnd8fO8czww,8YJtf5v76SIz-4udyF4YmA,5.0,1,0,0,Delicious coffee/lattes!!!! Vanessa is great...,2017-05-09 18:18:49
533062,mvqPrd-fx8brbSFAgvEMfQ,u2wWp8EoPkj5aW760CBGnw,8YJtf5v76SIz-4udyF4YmA,5.0,0,0,0,What a cute and hidden gem of the area! I'm su...,2017-06-05 21:02:17
563787,1qiSmzkg64HVzHBxULp3eg,B-mAQ-gBNyB5ECv-mNOYDA,8YJtf5v76SIz-4udyF4YmA,5.0,1,0,1,So happy to have an independent coffee shop in...,2017-05-26 12:16:32
623013,blw3U8vcDVrjxHV_-svUJg,bMjhxPuW0prL_UG0Yk8yaQ,8YJtf5v76SIz-4udyF4YmA,5.0,2,0,0,The hideout recently opened and I've been ther...,2017-04-08 15:44:10
643087,q6REyAiZphNn299onO0y3A,KH4FP3TFEkIhFEVQ7oko4Q,8YJtf5v76SIz-4udyF4YmA,5.0,2,0,2,What A cute little place! There is not enough ...,2017-05-24 21:46:22
653341,mopGEuoylAKZRGm-bklqJQ,tYwBMOMEB4u4NFwR9fm4kQ,8YJtf5v76SIz-4udyF4YmA,5.0,4,0,4,Amazing is an understatement! Vanessa is so sw...,2017-05-02 20:43:30

In [54]:
tip[tip['business_id']=='8YJtf5v76SIz-4udyF4YmA']

,user_id,business_id,text,date,compliment_count
31,fjpoZaeM1QRueYLl9FSLiQ,8YJtf5v76SIz-4udyF4YmA,This place had great coffee but the owner sold...,2017-09-23 16:08:24,0
104716,bdfZObj8MZ63_C4VoojH8w,8YJtf5v76SIz-4udyF4YmA,Great place,2017-08-03 03:16:10,0
157922,LfgKRPF06BnxGq3VogkcAg,8YJtf5v76SIz-4udyF4YmA,Stopped in for an almond milk latte and chocol...,2017-05-12 01:10:11,0
424978,nAPU1-75Gqg71NGr_HosFA,8YJtf5v76SIz-4udyF4YmA,7.15.17 -Went by today & though Yelp says they...,2017-07-15 20:00:08,0
493568,gtaJKNA6CUKul1CnUnzAUg,8YJtf5v76SIz-4udyF4YmA,Best coffee in brandon and delicious Muffins,2017-04-06 12:03:47,0
503698,s3S5rB93dGoGGHKCi8IzAQ,8YJtf5v76SIz-4udyF4YmA,This place is closed and had been for a while.,2018-03-18 18:26:52,0
507046,gtaJKNA6CUKul1CnUnzAUg,8YJtf5v76SIz-4udyF4YmA,Fast service,2017-04-28 13:11:05,0
756675,dhODLTrTB6mG9f7tC0dDqw,8YJtf5v76SIz-4udyF4YmA,Perfect Vanilla Chai!,2017-05-05 16:30:30,0
861862,9bbP2v45eQ0pHjTJXBC_ag,8YJtf5v76SIz-4udyF4YmA,Me gusto mucho la atención el cafe muy buen sa...,2017-06-18 03:51:27,0

In [29]:
user.head()

,user_id,name,review_count,yelping_since,useful,funny,cool,elite,friends,fans,...,compliment_more,compliment_profile,compliment_cute,compliment_list,compliment_note,compliment_plain,compliment_cool,compliment_funny,compliment_writer,compliment_photos
0,qVc8ODYU5SZjKXVBgXdI7w,Walker,585,2007-01-25 16:47:26,7217,1259,5994,2007,"NSCy54eWehBJyZdG2iE84w, pe42u7DcCH2QmI81NX-8qA...",267,...,65,55,56,18,232,844,467,467,239,180
1,j14WgRoU_-2ZE1aw1dXrJg,Daniel,4333,2009-01-25 04:35:42,43091,13066,27281,"2009,2010,2011,2012,2013,2014,2015,2016,2017,2...","ueRPE0CX75ePGMqOFVj6IQ, 52oH4DrRvzzl8wh5UXyU0A...",3138,...,264,184,157,251,1847,7054,3131,3131,1521,1946
2,2WnXYQFK0hXEoTxPtV2zvg,Steph,665,2008-07-25 10:41:00,2086,1010,1003,"2009,2010,2011,2012,2013","LuO3Bn4f3rlhyHIaNfTlnA, j9B4XdHUhDfTKVecyWQgyA...",52,...,13,10,17,3,66,96,119,119,35,18
3,SZDeASXq7o05mMNLshsdIA,Gwen,224,2005-11-29 04:38:33,512,330,299,"2009,2010,2011","enx1vVPnfdNUdPho6PH_wg, 4wOcvMLtU6a9Lslggq74Vg...",28,...,4,1,6,2,12,16,26,26,10,9
4,hA5lMy-EnncsH4JoR-hFGQ,Karen,79,2007-01-05 19:40:59,29,15,7,,"PBK4q9KEEBHhFvSXCUirIw, 3FWPpM7KU1gXeOM_ZbYMbA...",1,...,1,0,0,0,1,1,0,0,0,0